:root {
  --nav-color: #7873f5
}

.nav-purple {
  background-color: #7873f5;
}

.btn-round {
  border-radius: 10em;
}

.md-form {
  margin-top: 0 !important;
}

input:hover, input:active, input:focus {
  cursor: pointer;
}